body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 0 auto;
    font-family: 'Merienda', cursive;
    font-size: 3rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', serif;
    color: #66BFBF;
    font-weight: normal;
    font-size: 2.5em;
}

h3 {
    font-family: 'Montserrat', serif;
    color: #11999E;
}

p {
    line-height: 2;
}

.hr-dotted {
    border-color: #EAF6F6;
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 5%;
    margin: 80px auto;
}

.div-profile-img{
    display: inline-block;
    margin: 0;
    width: 30%;
}

.div-intro{
    display: inline-block;
    margin-left: -4px;
    width: 70%; 
    vertical-align: top;
}

.profile {
    margin: auto;
    width: 50%;
}

.profile-img {
    height: auto;
    text-align: center;
    width: 80%;
}

.intro {
    text-align: justify;
    padding-left: 10px;
}

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding: 50px 0;
}

.middle-container {
    margin: 80px 0;
}

.bottom-container {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #66BFBF;
}

.footer-link {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', serif;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.left-img {
    float: left;
    margin-right: 30px;;
}

.right-img {
    float: right;
    margin-left: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copywright {
    margin-top: 40px;
    font-size: 0.75rem;
    color: #EAF6F6;
}

.contact-message {
    width: 30%;
    margin: 40px auto 60px;
}

a:hover {
    color: #EAF6F6;
}

.experience-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.hobby-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}
